/* Green.css 
	This stylesheet defines accent colors in the theme.
	Use this as a template to make similar stylesheets for other colors
*/
body{
	background-color:#f3f3f3;
}
a {
	color:#003369;
}
/* Headline top border */
#top_bar{
	border-top-color:#15669c;
}
/* Top menu hover */
.navigation li:hover{
	border-bottom-color: #15669c;
}
/* Footer menu hover */
#footer_nav a:hover, #logo a:hover {
	color:#15669c;
}
/* Pagination color */
.pagination span.current, .pagination a:hover {
	background: #15669c;
}

/* Buttons */
.button, .button2 {
	background: #15669c;
	background: -webkit-linear-gradient(center top , #61569c 0%, #003369) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #15669c 0%, #003369) repeat scroll 0 0 transparent;
	border: 2px solid #fff;
}
.button2:disabled, .button2:disabled:hover{
	background: #ccc;
	color: #999;
}
.button:hover, .button2:hover {
	background: -webkit-linear-gradient(center bottom , #15669c 0%, #003369) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center bottom , #15669c 0%, #003369) repeat scroll 0 0 transparent;
	color: #fff;
}
