/* 
CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

table.times {
	margin-left: 5px;
}
table.times tr td:last-child{
	text-align: right;
	min-width: 65px;
}
table.times th{
	text-align:center;
	font-weight:bold;
	font-size:120%;
	font-family: 'Oswald','Arial Black', Arial, Helvetica;
	padding-bottom: 10px;
}
img.ministry{
	max-width:300px;
}
/*
.ministry h3{
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
.ministry:nth-child(odd) h3{
	text-align:right;
}
*/



/* Dont forget the media queries! */
/* Tablet landscape (<960) */
@media only screen and (max-width : 960px) {

}

/* Tablet portrait (<768) */
@media only screen and (max-width : 768px) {

}

/* Intermediate tablet (<640)*/
@media only screen and (max-width : 640px) {

}

/* Phone landscape (<480) */
@media only screen and (max-width : 480px) {

}

/* Phone portrait (<320) */
@media only screen and (max-width : 320px) {

}
