#adminmenu #menu-posts-widget_post.menu-icon-widget_post div.wp-menu-image,
#adminmenu #menu-posts-sermon_post.menu-icon-sermon_post div.wp-menu-image,
#adminmenu #menu-posts-ministry.menu-icon-ministry div.wp-menu-image,
#adminmenu #menu-posts-events.menu-icon-events div.wp-menu-image,
#adminmenu #menu-posts-staff.menu-icon-staff div.wp-menu-image {
	overflow:hidden !important;
}
#adminmenu #menu-posts-widget_post.menu-icon-widget_post div.wp-menu-image:before {
	font-family: 'FontAwesome' !important;
	content: '\f022';
	/* content: '\f123'; */
}
#adminmenu #menu-posts-sermon_post.menu-icon-sermon_post div.wp-menu-image:before{
	font-family: 'FontAwesome' !important;
	content: '\f130';
	/* content: '\f127'; */
}
#adminmenu #menu-posts-ministry.menu-icon-ministry div.wp-menu-image:before{
	font-family: 'FontAwesome' !important;
	content: '\f0c0';
	/* content: '\f307'; */
}
#adminmenu #menu-posts-events.menu-icon-events div.wp-menu-image:before{
	font-family: 'FontAwesome' !important;
	content: '\f073';
	/* content: '\f145'; */
}
#adminmenu #menu-posts-staff.menu-icon-staff div.wp-menu-image:before {
	font-family: 'FontAwesome' !important;
	content: '\f007';
	/* content: '\f110'; */
}