/* Color.css 
	This stylesheet defines accent colors in the theme.
	I suggest backing up this file first before making chages
*/
body{
	background-color:#f3f3f3;
}
a {
	color:#336900;
}
/* Headline top border */
#top_bar{
	border-top-color:#669c15;
}
/* Top menu hover */
.navigation li:hover{
	border-bottom-color: #669c15;
}
/* Footer menu hover */
#footer_nav a:hover, #logo a:hover {
	color:#669c15;
}
/* Pagination color */
.pagination span.current, .pagination a:hover {
	background: #669c15;
}

/* Buttons */
/*** COLOR ITEM: See color.css ****/
.button, .button2 {
	background: #669c15;
	background: -webkit-linear-gradient(center top , #669c15 0%, #336900) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center top , #669c15 0%, #336900) repeat scroll 0 0 transparent;
	border: 2px solid #fff;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 0 3px #000 inset;
	color: #fff;
	margin-top: 10px;
	padding: 10px 20px;
	display: inline-block;
	min-width: 132px;
	text-align: center;
	cursor: pointer;
}
.button2:disabled, .button2:disabled:hover{
	background: #ccc;
	color: #999;
	text-shadow: 1px 1px 2px #eee;
}
.button:hover, .button2:hover {
	background: -webkit-linear-gradient(center bottom , #669c15 0%, #336900) repeat scroll 0 0 transparent;
	background: -moz-linear-gradient(center bottom , #669c15 0%, #336900) repeat scroll 0 0 transparent;
	color: #fff;
}
