/* 
CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles here instead of style.css so it 
is easier to update the theme. Simply copy an existing 
style from style.css to this file, and modify it to 
your liking.

*/

/* responsive post image  */
.wp-post-image {
	height: auto;
	max-width: 100%;
	border: 1px solid #ccc;
	padding: 5px;
	background:#fff;	
}


/* fake table styling */
.tbleft{ 
	display:inline-block; 
	width: 60%;
}
.tbright{ 
	display:inline-block; 
	width: 40%; 
	text-align: right;
}
.tbhead{ 
	font-weight: bold;
}




/* A generic table style */
.table {
	border:1px solid #000;
	width: 100%;
}
.table th, .table td { 
	border: 1px solid #000;
	text-align: center;
	vertical-align:middle;
	line-height: 24px;
}
.table th{
	font-weight: bold;
	font-size: 120%;
	line-height: 160%;
}

/* meteor slides ie8 correction */
.ie8 .meteor-clip {
	overflow:visible;
}
.mslide .wp-post-image{
	background:none;
}


/* staff-specific styling */
.staff img {
	float:left;
	margin: 0 10px 10px 0;
	padding: 5px;
	background: #fff;
	border: 1px solid #ccc;
}
.staff h2{
	font-weight: normal;
	font-size: 20pt;
	clear:both;
}


/* page specific styling */
#contactmenu li{
	padding:10px 0 10px 19px;
	border:none;
}


/* highlight the current menu item based on the page */
.page-contact-us #questions, 
.page-prayer-request #prayer, 
.page-ministry-interest #ministry-query, 
.page-roster-update #roster-update,
.page-spiritual-gifts-results #gifts-results, 
.page-resources #resources, 
.page-spiritual-gifts-evaluation #gifts-eval{
	background: #DDDDDD;
	border-left: 9px solid #3D6BAE !important;
	font-weight: bold;
	padding-left: 10px;
}
.page-about-us #leftcol, .page-resources x#leftcol {width:100%;}
.page-about-us #rightcol, .page-resources x#rightcol {display:none;}

/* gifts-test styles */
#gifts_test div.question, #gifts_test div.more {
	 float:left;
	 width: 275px;
	 height: 210px;
	 overflow:hidden;
	 margin:10px;
	 background: #ccc;
	 padding: 5px;
	 border-radius: 5px;
	 transition: background-color 1s;
	 -moz-transition: background-color 1s;
	 -webkit-transition: background-color 1s;
	 -o-transition: background-color 1s;
}
#gifts_test div.more{
	background:#fc0;
	height:32px;
	text-align: center;
	cursor: pointer;
}
#gifts_test .hide{
	display:none;
}
#gifts_test blockquote{
	 margin: 0 20px;
	 line-height:20px;
	 padding:0;
	 background:none;
	 color:#333;
}
#gifts_test {
	 clear: both;
	 overflow:hidden;
	 margin: auto;
}
#gifts_test_results{
	 border-radius: 5px;
	 background: #fff1ba;
	 padding: 10px;
	 margin: 10px;
}
#gifts_test_buttons{ margin:10px;}
#gifts_test input[type="radio"]{ margin-right: 3px;}
#gifts_test p{ margin-top:0;}



/* ministry page styling */
img.ministry{
	background:#fff;
	padding: 5px;
	margin: 0;
	margin-bottom:10px;
	border: 1px solid #ccc;
	max-height: 200px;
	max-width: 100%;
	height: auto;
}
img.alignright.ministry{ margin-left: 10px; }
img.alignleft.ministry{ margin-right: 10px; }
div.ministry{ overflow:hidden; }

/* Staff email links */
a.mail_link {
	width: 20px;
	height: 20px;
	display: inline-block;
}
a.mail_link img {
	background: none;
	border: none;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
}
	

/* breadcrumbs */
#breadcrumb {
    /*background: none repeat scroll 0 0 #C6D7E9;*/
    clear: both;
    /*font-family: Georgia,"Times New Roman",serif;*/
    font-size: 85%;
    left: 2%;
    line-height: 200%;
    padding: 0 20px 0 30px;
    text-indent: -10px;
    width: 96%;
}


/* feed button */
.feedbutton{
  width: 100%;
  height: 38px;
  border: 1px solid black;
  background: #ccc url(images/ico_feed.png) no-repeat 4px 50%;
  margin-bottom: 20px;
  padding-left: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  display: block; 
}
.feedbutton:before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	height: 100%;
}
#feedaddr, .feedaddr {
	display:inline-block;
	vertical-align:middle;
	width:95%;
	word-wrap: break-word;
}


/* gifts form styling */
#gifts span.wpcf7-list-item {
    display: block ;
    float: left;
    width: 200px;
}
#gifts {
    clear: both;
    display: block;
    overflow: hidden;
}


/* Responsive YouTube embeds */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Staff widget */
.staff_widget li {
	display: block;
	overflow: hidden;
}
.staff_widget_img, .sermon_widget_img  {
	margin: 0 20px 0 0;
	width: 75px;
}
.staff_widget_link { 
	padding: 5px;
	min-width: 60px;
	width: 60px;
	margin-top: 3px; 
}
.map {
	width: 100%;
}

#request label{
	white-space: nowrap;
}

#fsb-social-bar{
	margin-top: 20px !important;
	padding: 10px 5px !important;
}